.form-btn,
.form-btn-cancel,
.form-btn-error {
  background: $form-focus-color;
  border: 1px solid $form-focus-color;
  font-size: $form-font-size;
  color: $form-focus-contrast-color;
  cursor: pointer;
  padding: 10px 24px;
  text-transform: uppercase;
  margin-top: $form-margin-top;
  position: relative;
  z-index: 0;
  transition: transform $form-transition-speed ease;

  @if ($form-set-will-change) {
    will-change: transform;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
  }

  &::before {
    background: $form-focus-color;
    z-index: -2;
  }

  &::after {
    background: contrast-color($form-focus-contrast-color);
    z-index: -1;
    opacity: 0;
    transition: opacity $form-transition-speed ease;

    @if ($form-set-will-change) {
      will-change: opacity;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    &::after {
      opacity: 0.3;
    }
  }

  &:active {
    transform: translateY(1px);
  }
}

.form-btn-error {
  &::before {
    background: $form-error-color;
  }
}

.form-btn-cancel {
  $darkerror: darken($form-error-color, 15%);

  transition: color $form-transition-speed ease, transform $form-transition-speed ease;
  color: $darkerror;
  border-color: currentColor;

  @if ($form-set-will-change) {
    will-change: color, transform;
  }

  &.-nooutline {
    border-color: transparent;
  }

  &::before {
    background: $darkerror;
    opacity: 0;
    transition: opacity $form-transition-speed ease;

    @if ($form-set-will-change) {
      will-change: opacity;
    }
  }

  &::after {
    display: none;
  }

  &:focus,
  &:hover {
    color: contrast-color($darkerror);

    &::before {
      opacity: 1;
    }
  }
}

.form-btn-block {
  display: block;
  width: 100%;
  padding: 5px;
}
