.form-card {
  @include bg-card;
  @include bg-card-hover;

  max-width: 500px;
  padding: 0;
  margin: 50px auto;
}

.form-actions {
  position: relative;
  display: flex;
  margin-top: $form-margin-top;

  // We want the cancel button on the right side,
  // but have the submit button first in the markup
  // This is because of the tabindex
  .form-btn-cancel {
    order: -1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: $form-border-color;
    opacity: 0.3;
  }

  > * {
    flex: 1;
    margin-top: 0;
  }
}

.form-fieldset {
  padding: 30px;
  border: 0;

  + .form-fieldset {
    margin-top: 15px;
  }
}

.form-legend {
  padding: 1em 0 0;
  margin: 0 0 -0.5em;
  font-size: 1.5rem;

  @if $form-legend-text-align != "left" {
    text-align: $form-legend-text-align;
  }

  + p {
    margin-top: 1rem;
  }
}

label.error {
  position: absolute;
  top: .75rem;
  right: 0;
  line-height: 1.5rem;
  pointer-events: none;
  padding-left: .25rem;
  z-index: 1;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: $form-error-color;
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) translateX(-.25rem) scale(0.9)
}
