.form-element {
  position: relative;
  margin-top: $form-margin-top;
  margin-bottom: $form-margin-bottom;

  @if $form-complete-border {
    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      height: $form-height;
      border: 1px solid $form-border-color;
      border-bottom: 0;
    }
  }
}

.form-element-hint {
  font-weight: $form-hint-font-weight;
  font-size: $form-hint-font-size;
  color: $form-hint-color;
  display: block;

  @if $form-place-hint-absolute {
    position: absolute;
    bottom: $form-hint-bottom;

    + .form-element-hint {
      bottom: $form-hint-bottom * 1.8;
    }
  }
}

.form-element-bar {
  position: relative;
  height: 1px;
  background: $form-border-color;
  display: block;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $form-focus-color;
    height: $form-bar-height;
    display: block;
    transform: rotateY(90deg);
    transition: transform $form-transition-speed ease;

    @if ($form-set-will-change) {
      will-change: transform;
    }

    @if $form-line-start != "center" {
      transform-origin: $form-line-start center;
    }
  }
}

.form-element-label {
  position: absolute;
  top: $form-height / 2;
  line-height: $form-height;
  pointer-events: none;
  padding-left: $form-label-padding-left;
  z-index: 1;
  font-size: $form-font-size;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: $form-label-color;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform $form-transition-speed ease, color $form-transition-speed linear, opacity $form-transition-speed linear;

  @if ($form-set-will-change) {
    will-change: transform, color, opacity;
  }
}

.form-element-field {
  outline: none;
  height: $form-height;
  display: block;
  background: none;
  padding: $form-padding;
  font-size: $form-font-size;
  border: 0 solid transparent;
  line-height: $form-line-height;
  width: 100%;
  color: $form-color;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity $form-transition-speed ease;

  @if ($form-set-will-change) {
    will-change: opacity;
  }

  &::placeholder {
    color: $form-label-color;
    transform: scale(0.9);
    transform-origin: left top;
  }

  &:focus {
    ~ .form-element-bar::after {
      transform: rotateY(0deg);
    }

    ~ .form-element-label {
      color: $form-label-focus-color;
    }
  }

  &.-hasvalue,
  &:focus {
    opacity: 1;
    outline: none;
    box-shadow: none;

    ~ .form-element-label {
      transform: $form-label-transform;

      @if $form-show-label-if-value {
        cursor: pointer;
        pointer-events: auto;
      }
    }
  }

  @if $form-show-label-if-value == false {
    &.-hasvalue:not(:focus) ~ .form-element-label {
      opacity: 0;
      outline: none;
      box-shadow: none;
    }
  }
}

.form-has-error {
  .form-element-label.form-element-label,
  .form-element-hint {
    color: $form-error-color;
  }

  @if $form-complete-border {
    &::before {
      border-color: $form-error-color;
    }
  }

  .form-element-bar {
    &,
    &::after {
      background: $form-error-color;
    }
  }
}

.form-is-success {
  .form-element-label.form-element-label,
  .form-element-hint {
    color: $form-success-color;
  }

  .form-element-bar::after {
    background: $form-success-color;
  }
}

input,
textarea {
  &.form-element-field {
    &:not(:placeholder-shown) {
      opacity: 1;
      outline: none;
      box-shadow: none;

      ~ .form-element-label {
        transform: $form-label-transform;

        @if $form-show-label-if-value {
          cursor: pointer;
          pointer-events: auto;
        }
      }
    }

    @if $form-show-label-if-value == false {
      &:not(:focus):not(:placeholder-shown) ~ .form-element-label {
        opacity: 0;
      }
    }
  }
}

@if $form-complete-border {
  .form-textarea::before {
    height: $form-textarea-height
  }
}

textarea.form-element-field {
  height: 300px;
  resize: none;
  outline: none;

  @if $form-complete-border {
    resize: none;
  }
}

select.form-element-field {
  appearance: none;
  cursor: pointer;
}

.form-select-placeholder {
  color: $form-label-color;
  display: none;
}

.form-select {
  .form-element-bar::before {
    content: "";
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    border-bottom: 1px solid $form-border-color;
    border-right: 1px solid $form-border-color;
    display: block;
    right: 0.5em;
    bottom: if($form-complete-border, $form-height / 4, 0);
    transition: transform $form-transition-speed ease;
    transform: translateY(-100%) rotateX(0deg) rotate(45deg);

    @if ($form-set-will-change) {
      will-change: transform;
    }
  }

  select:focus ~ .form-element-bar::before {
    transform: translateY(-50%) rotateX(180deg) rotate(45deg);
  }
}

.form-element-field[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
